#===============================================================================
# ARITHMETIC EXPRESSIONS
#===============================================================================

(5 + 5)
(5 * 5)
(5 / 5)
(5 - 5)

#===============================================================================
# BOOLEAN EXPRESSIONS
#===============================================================================

# true <&&> false
# true <||> false
# <!> true

# 1 <:<=> 1
# 1 <=>:> 1
# 1 <:<> 1
# 1 <>:> 1

#===============================================================================
# STATEMENTS
#===============================================================================

# Nog dingen enzo
# veel werk



#===============================================================================
# END OF FILE
#===============================================================================


<assign>
  <var> a </var>
  <value>
    <sum>
      <float>
        1
      </float>
      <float>
        2
      </float>
    </sum>
  </value>
</assign>
